[submodule "bevy_sequence"]
	path = bevy_sequence
	url = https://github.com/corvusprudens/bevy_sequence
[submodule "bevy_optix"]
	path = bevy_optix
	url = https://github.com/void-scape/bevy_optix.git
[submodule "bevy_pretty_text"]
	path = bevy_pretty_text
	url = https://github.com/void-scape/bevy_pretty_text.git
[submodule "bevy_seedling"]
	path = bevy_seedling
	url = https://github.com/corvusprudens/bevy_seedling
